body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
h1 {
  text-align: center;
}

.search {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.search input[type="research"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  width: 40%;
  border-bottom: 2px solid gray;
  margin-right: 10px;
}

.search button {
  padding: 10px;
  background-color: rgb(104, 104, 104);
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;
}

.ajout {
  margin: 20px;
  width: 35%;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3%;
}

.ajout label {
  font-size: 18px;
}

.ajout input[type="text"],
.ajout input[type="date"],
.ajout input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid gray;
}

.ajout button {
  padding: 10px;
  background-color: rgb(104, 104, 104);
  border: none;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.liste {
  margin: 20px;
  width: 60%;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3%;

}

#myTable {
  width: 100%;
  border-collapse: collapse;
}
th {
  background-color: #f2f2f2;
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}


td {
  padding: 12px ;
  border-bottom: 1px solid #ddd;

}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;
}

.pagination a {
  padding: 10px;
  background-color: rgb(166, 166, 166);
  color: white;
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
}
.pagination a:hover {
  background-color: rgb(104, 104, 104);
}

.pagination a:disabled {
  background-color: gray;
  color: lightgray;
  cursor: default;
}
#modifier {
  visibility: hidden;
}

button {
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background-color: #3e8e41;
}